@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("欢迎 " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link px-lg-3 py-3 py-lg-4"} )
        </li>
        <li>@Html.ActionLink("退出登陆 ", "Logout", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link px-lg-3 py-3 py-lg-4"} )</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link px-lg-3 py-3 py-lg-4" })</li>
        <li class="nav-item">@Html.ActionLink("登陆", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , @class = "nav-link px-lg-3 py-3 py-lg-4" })</li>
    </ul>
}
